body{
  background-color: #272525 !important;
}
span{
  color: #cb0b71;
}
#sideNav{
  width: 200px;
  border: solid;
  height: 100vh;
  background-color: #181818;
  display: block;
}
.mainNav a{
  color: #978d8d;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 30px;
  text-align: center;
  border-bottom:solid #322c2c;
}

.font-head{
  font-family: 'Arvo', serif;
}

.main{
  margin-left: 300px;
  position: relative;
  top: 25vh;
}
.main h1{
  font-size: 4rem;
}
@media screen and (max-width : 770px) {
  .main{
      margin-left: 180px;
  }
}
@media screen and(max-width:430px) {
  #sideNav{
      display: none;
  }
}
/* body {
  background-color: #fbfbfb;
}
  
  .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; 
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
  height: 90vh !important;
  }
  
  @media (max-width: 768px) {
  .sidebar {
  width: 100%;
  }
  }
  .sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  } */